body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    background-image: url(diseno-abstracto-fondo-oscuro_54768-380.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
  margin: 0; 
  padding: 0;
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffcc00;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
      text-align: center;
      
  }
     
  .input-area{
      margin: 30px;
  }
  